:root {
    --primary: rgb(172, 172, 172);
    --secondary: darkgrey;
    --accent: purple;
    --primary_text: white;
    --secondary_text: black;
    --accent_text: purple;
    --background-primary: rgb(88, 90, 95);
    --background-secondary: rgb(51, 51, 51);
}

* { 
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body , #root{
    height: 100%;
    width: 100%;
    margin: 0;
}

.App {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-primary);
    height: 100%;
    width: 100%;
}

.Body {
    height: 95%;
    width: 100%;
}

.CENTER {
    /* !!PARENT MUST BE position: relative; !! */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}