.CodeBreaker {
    width: 100%;
    height: 100%;
}

:nth-child(n) {
    border: 1px solid black;
  }

.GameContainer {
    display: grid; 
    grid-template-columns: auto minmax(31.2%, auto) auto;
    grid-template-rows: auto minmax(auto, 75%) 15%;

    gap: 0px 0px;
    grid-template-areas: 
    ". AnswerContainer ."
    ". GuessContainer ."
    ". ColourInput ."
    ". ButtonContainer .";
    width: 100%;
    height: 100%;
}

.AnswerContainer {
    margin: auto;
    padding: 3% 0 3% 0;
    grid-area: AnswerContainer;
}

.GuessContainer {
    grid-area: GuessContainer;
    display: block;
}

.GuessRow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GuessBody {
    height: 100%;
    width: 100%;
    display: inline-block;
    overflow-y: auto;
}

.PegAnswerContainer {
    
}

.PrevAnswerContainer {

}

.ColourInput {
    grid-area: ColourInput;

    display: grid; 
    grid-template-columns: auto minmax(31.2%, auto) auto;
    grid-template-rows: auto minmax(auto, 75%) auto;

    gap: 0px 0px;
    grid-template-areas: 
    ". ColourInput ."
    ". ColourSelection .";
    width: 100%;
    height: 100%;
}

.CurrentGuessRow {
    grid-area: ColourInput;
    display: inline-block;
    justify-content: center;
}

.ColourSelection {
    grid-area: ColourSelection;
    display: inline-block;
}

.ButtonContainer {
    grid-area: ButtonContainer;
}