.Peg {
    height: 6vw;
    max-height: 35px;
    width: 6vw;
    max-width: 35px;
    border-radius: 100%;
    margin: 6px;
    float: left;
    border: 1px solid black;
    position: relative;
    
}

.PegText {
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hidden {
    background-color: grey;
}

.Empty {
}

.Mini {
    height: 3vw;
    max-height: 20px;
    width: 3vw;
    max-width: 20px;
    border-radius: 100%;
    margin: 3                                   px;
}

.A {
    background-color: white;
}

.B {
    background-color: black;
}

.C {
    background-color: blue;
}

.D {
    background-color: green;
}

.E {
    background-color: yellow;
}

.F {
    background-color: orange;
}

.G {
    background-color: red;
}

.H {
    background-color: rgb(119, 93, 58);
}

.Black {
    background-color: black;
}

.White {
    background-color: white;
}
